<nav class="bg-blue-600 p-4 shadow-md">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
      <h1 class="text-white text-2xl font-bold">
        <a routerLink="/">Library Management</a>
      </h1>
       <div class="space-x-4">
      <button
        routerLink="/managebooks"
        class="px-6 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700 transition duration-200"
      >
        Manage Books
      </button>
      <button
        routerLink="/manageauthors"
        class="px-6 py-2 bg-yellow-600 text-white rounded-lg hover:bg-yellow-700 transition duration-200"
      >
        Manage Authors
      </button>
    </div>
  </div>
</nav>